<div class="header">
  <button class="home" [routerLink]="['/home/']">Home 🐾</button>
  <h1>Cats 🐱</h1>

  <button class="favButton" [routerLink]="['/favorites/']">
    My Favorites 💗
  </button>
</div>
<ul>
  <li *ngFor="let cat of Cats; index as id">
    <script>
      cat.isFavorite = false;
    </script>
    <a [routerLink]="['/cats/', id]">
      <h2>{{ cat.name }}</h2>

      <div *ngIf="cat.photos[0] !== undefined" class="img">
        <img src="{{ cat.photos[0].medium }}" />
      </div>
    </a>
    <div class="breeds">
      <p>{{ cat.breeds.primary }}</p>
      <div class="breeds" *ngIf="cat.breeds.secondary !== null">
        <p>•</p>
        <p>{{ cat.breeds.secondary }}</p>
      </div>
    </div>
    <div class="info">
      <p>{{ cat.age }}</p>
      <p>•</p>

      <p>{{ cat.gender }}</p>
      <p>•</p>

      <p>{{ cat.size }}</p>
    </div>
    <button (click)="addFavoriteCat(cat)">
      Add to Favorites 💗
    </button>
  </li>
</ul>
