@import url("https://fonts.googleapis.com/css2?family=Copse&family=Open+Sans&display=swap");

body {
  margin: 0;
}

h1 {
  font-family: "Copse";
  color: #00023f;
  margin-left: 10px;
}

h2 {
  font-family: "Copse";
  color: #34aca0;
  text-align: center;
}

p {
  font-family: "Open Sans";
  color: #00023f;
}
.header {
  background-color: #34aca0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #34aca0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #8d1d67;
  color: white;
}

.favButton,
.back,
.home {
  color: #00023f;
  background-color: #8d1d67;
  text-align: center;
  border-radius: 5px;
  height: 25%;
  width: 13%;
  margin: 25px 10px;
}

li {
  background-color: rgb(228, 228, 228);
}
